.vs/
bin/
obj/
/bin/
/obj/
*.user
*.suo
.env
*.env.local
temp.*

# Configuration files
appsettings.json
appsettings.*.json

# Entity Framework files
**/DesignTimeDbContextFactory.cs
**/AppDBcontext.cs