@using Uni.BLL.ModelVM.GetDataVM
@model List<TakesVM>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        .cont {
        display: flex;
        flex-direction: row;
        }
    </style>
</head>

<body>

    <div class="tablecontainer">
        <table id="dataTable">
            <thead>
                <tr id="tableHeader">  
                    <th>Course Code</th>
                    <th>Grade</th>
                    <th>Semester</th>
                    <th>Year</th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {


                <tbody id="tableBody">
                    <tr>
                        <td>@item.CourseCode</td>
                        <td>@item.GPA</td>
                        <td>@item.semester</td>
                        <td>@item.year</td>
                    </tr>
                </tbody>
            }
           
    </table>
</div>
</body>
</html>